<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vh;
    margin: 0 auto;
    text-align: center;
}

nav .pages {
    margin: 30px 165px;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    color: black;
}

a#stopwatch {
    border-bottom: 1.9px solid;
    color: rgb(212, 23, 98);
}
/* 
real code */
.timer { 
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.timer div{ 
    width: 100px;
}

.timer span { 
    font-family: 'Poppins', sans-serif;
    font-size: 3.4rem;
}


button { 
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 15px 10px;
    border-radius: 50%;
    top: 50px; 
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

button#start:hover {
    background-color: lightgreen;
}

button#reset, button#stop { 
    display: none;
}

button#reset {
    padding: 15px 8px;
}

.buttons { 
    display: flex;
    justify-content: center;
    gap: 30px;
}

=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vh;
    margin: 0 auto;
    text-align: center;
}

nav .pages {
    margin: 30px 165px;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    color: black;
}

a#stopwatch {
    border-bottom: 1.9px solid;
    color: rgb(212, 23, 98);
}

.timer { 
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.timer div{ 
    width: 100px;
}

.timer span { 
    font-family: 'Poppins', sans-serif;
    font-size: 3.4rem;
}

button { 
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 15px 10px;
    border-radius: 50%;
    top: 50px; 
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

button#start:hover {
    background-color: lightgreen;
}

button#reset, button#stop { 
    display: none;
}

button#reset {
    padding: 15px 8px;
}

.buttons { 
    display: flex;
    justify-content: center;
    gap: 30px;
}

>>>>>>> 503e670e7e2c8f100ef8d3ef43286a7bed60e913
